{% extends "layout.html" %}

{% block head %}
  <script src="{{ url_for('static', filename='../static/js/utils.js') }}" defer></script>
{% endblock %}

{% block content %}

<h2>Registrar un nuevo pago</h2>

<form method="POST" id="paymentForm" action="{{ url_for('add_payment') }}">
  <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
  
  <input type="hidden" name="salon_id" value="{{ salon_id }}">

  <!-- Selector de Barbero -->
  <div class="form-group">
    <label for="barber_id">Barbero:</label>
    <select name="barber_id" required>
      {% for b in barbers %}
        <option value="{{ b.id }}">{{ b.name }}</option>
      {% endfor %}
    </select>
  </div>

  <!-- Toggle Servicio, Producto o Membresia-->
  <div class="form-group">
    <div id="toggleContainer">
      <div>
        <input type="checkbox" class="btn-check" id="toggleServicio" name="toggle_servicio" autocomplete="off" checked>
        <label class="btn full-width" for="toggleServicio">Servicio</label>
      </div>
      <div>
        <input type="checkbox" class="btn-check" id="toggleProducto" name="toggle_producto" autocomplete="off">
        <label class="btn full-width" for="toggleProducto">Producto</label>
      </div>
      <div>
        <input type="checkbox" class="btn-check" id="toggleMembresia" name="toggle_membresia" autocomplete="off">
        <label class="btn full-width" for="toggleMembresia">Membresía</label>
      </div>
    </div>
    <p id="toggleError" class="text-danger mt-1" style="display: none;"> 
      Debe seleccionar "Servicio", "Producto" o "Membresia".
    </p>
  </div>

  <!-- Selector de servicio -->
  <div id="servicioSection" class="form-group">
    <div class="form-row-flex">
      <label for="service_id">Servicio y precio:</label>
      <div class="checkbox-group servicio-precio">
        <div class="checkbox-left">
          <label class="checkbox-label" id="labelPrecioDesc" name="labelPrecioDesc">
            <input type="checkbox" id="precioDescuentoCheckbox" name="precioDescuentoCheckbox">
            <span class="checkbox-text">¿Precio Descuento?</span>
          </label>
        </div>
        <div class="checkbox-right">
          <label class="checkbox-label" id="labelPrecioAmigo" name="labelPrecioAmigo">
            <input type="checkbox" id="precioAmigoCheckbox" name="precioAmigoCheckbox">
            <span class="checkbox-text">¿Vale por Corte?</span>
          </label>
        </div>
      </div>
    </div>

    <div style="display: flex; gap: 1rem;">
      <select name="service_id" id="serviceSelect" required>
        {% for s in services %}
          <option value="{{ s.id }}"
              data-precio="{{ s.precio }}"
              data-precio-amigo="{{ s.precio_amigo or 0 }}"
              data-precio-descuento="{{ s.precio_descuento or 0 }}">
            {{ s.name }}
          </option>
        {% endfor %}
      </select>
      <input type="text" id="servicePrice" name="servicePrice" readonly placeholder="$" value="${{ '{:,.0f}'.format(precio|default(0)).replace(',', '.') }}" style="width: 100px;">
    </div>
  </div>

  <!-- Selector de productos -->
  <div id="productSection" class="form-group" style="display: none;">
    <div class="productRow" data-index="0">
      <label>Producto:</label>
      <div>
        <select name="product_id[]" class="productSelect" onchange="updateCantidadOptions(this)">
          {% for product in products %}
            {% if product.cantidad > 0 %}
              <option value="{{ product.id }}" data-precio="{{ product.precio }}" data-cantidad="{{ product.cantidad }}">
                {{ product.name }}
              </option>
            {% endif %}
          {% endfor %}
        </select>

        <div class="productCant-container">
          <select class="productCant" name="product_quantity[]"></select> 
          <button type="button" class="addProductBtn btn-primary">+</button>
          <button type="button" class="removeProductBtn btn-primary">−</button>

          <input type="text" class="productPrice" disabled placeholder="$">
        </div>
      </div>
    </div>
  </div>
  <p id="messageContainer" class="error-msg" style="display: none; color: red; font-size: 0.9rem;"></p>

  <!-- Selector de membresía -->
  <div id="membresiaSection" class="form-group" style="display: none;">
    <label for="membresia_id">Membresía y precio:</label>
    <div style="display: flex; gap: 1rem;">
      <select name="membresia_id" id="membresiaSelect">
        {% for membresia in membresias %}
          <option value="{{ membresia.id }}" data-usos="{{ membresia.usos_disponibles }}" data-precio="{{ membresia.precio }}">
            {{ membresia.nombre }}
          </option>
        {% endfor %}
      </select>
      <input type="text" id="membresiaPrice" disabled placeholder="$" style="width: 100px;">
    </div>
  </div>

  <!-- Metodo de Pago -->
  <div class="form-group payment-methods" id="divMetodoPago" name="divMetodoPago">
    <div class="form-row-flex" >
      <label for="method">Método de pago:</label>
      <div class="checkbox-group metodo-pago">
        <div class="checkbox-left">
          <label id="membresiaLabel" name="membresiaLabel" class="checkbox-label" style="display: flex;">
            <input type="checkbox" id="membresiaCheckbox" name="membresiaCheckbox">
            <span class="checkbox-text">¿Usa Membresía?</span>
          </label>
        </div>
        <div class="checkbox-right">
          <label class="checkbox-label" id="MultiPagosLabel" name="MultiPagosLabel">
            <input type="checkbox" id="multiPaymentToggle" name="togglemultiPayment">
            <span class="checkbox-text">¿Usa múltiples métodos?</span>
          </label>
        </div>
      </div>
    </div>

    <div class="payment-method-container">
      <!-- Modo simple -->
      <div id="singleMethodGroup" name="singleMethodGroup">
        <select id="methodSimple" name="methodSimple">
          {% for method in methods %}
            <option value="{{ method.id }}">{{ method.nombre }}</option>
          {% endfor %}
        </select>
        <input type="hidden" name="amount_simple" id="amountSimple">
      </div>

      <!-- Membresia -->
      <div id="membresiaMethodGroup" name="membresiaMethodGroup" style="display: none;">
        <div class="membresia-method-group">
          <input type="number" name="check_membresia" id="check_membresia" step="1" placeholder="Número de Membresía">
        </div>
      </div>

      <!-- Modo múltiple -->
      <div id="multiMethodGroup" name="multiMethodGroup" style="display: none;">
        <div class="payment-method-group">
          <select name="method_multiple_1" id="method_multiple_1">
            {% for method in methods %}
              <option value="{{ method.id }}">{{ method.nombre }}</option>
            {% endfor %}
          </select>
          <input type="number" name="amount_method_multi_1" id="amount_method_multi-1" step="1" placeholder="Monto $">
        </div>

        <div class="payment-method-group">
          <select name="method_multiple_2" id="method_multiple_2">
            {% for method in methods %}
              <option value="{{ method.id }}">{{ method.nombre }}</option>
            {% endfor %}
          </select>
          <input type="number" name="amount_method_multi_2" id="amount_method_multi_2" step="1" placeholder="Monto $">
        </div>
      </div>
    </div>
    <p id="methodRepeatError" class="text-danger mt-1" style="display: none;">
      No puede elegir el mismo método de pago dos veces
    </p>
    <p id="montoError" class="text-danger mt-1" style="display: none;">
      La suma de los métodos de pago y la propina debe coincidir con el total a pagar
    </p>
    <p id="mensaje_error_membresia" class="text-danger mt-1" style="display: none;">
      Debe ingresar un número de membresía válido
    </p>

  </div>

  <!-- Propina -->
  <div class="form-group">
    <label for="tip">Propina y Total a Pagar:</label>
    <div class="propina-row">
      <input type="number" name="tip" id="tip" step="1" placeholder="$" class="form-control">
      <input type="text" name="totalPago" id="totalPago" placeholder="$" class="form-control" readonly>
      <button type="submit" class="btn-primary">Guardar pago</button>
    </div>
  </div>
</form>

<h3>Pagos Hoy</h3>

{% set contadores = namespace(cortes=0, productos=0) %}
{% set servicios_barbero = namespace(data={}) %}

<table class="table table-striped table-bordered text-center" style="margin-top: 1rem;">
  <thead>
    <tr>
      <th>Hora</th>
      <th>Barbero</th>
      <th>Servicio</th>
      <th>Producto</th>
      <th>Membresia</th>
      <th>M. Pago </th>
      <th>Monto</th>
      <th>Propina</th>
      <th>Monto Total</th>
      <th>Borrar Pago</th>
    </tr>
  </thead>
  {% for pago in pagos %}
    <tr>
      <td>{{ pago.date.strftime('%H:%M') }}</td>
      <td>{{ pago.appointment.barber.name }}</td>
      <td>  <!-- Tipo de servicio -->
        {% if pago.appointment.service %}
          {% set contadores.cortes = contadores.cortes + 1 %}
          {% set barbero = pago.appointment.barber.name %}
          {% if barbero in servicios_barbero.data %}
            {% set _ = servicios_barbero.data.update({barbero: servicios_barbero.data[barbero] + 1}) %}
          {% else %}
            {% set _ = servicios_barbero.data.update({barbero: 1}) %}
          {% endif %}
          {% if pago.appointment.tipo_precio_servicio == 'amigo' %}
            Vale por {{ pago.appointment.service.name }} 
          {% elif pago.appointment.tipo_precio_servicio == 'descuento' %}
            {{ pago.appointment.service.name }} Descuento
          {% else %}
            {{ pago.appointment.service.name }}
          {% endif %}
        {% else %}
          -
        {% endif %}
      </td>
      <td>  <!-- Producto + Cantidad-->
        {% if pago.appointment.productos_turno %}
          {% set productos = {} %}
          {% for pt in pago.appointment.productos_turno %}
            {% set contadores.productos = contadores.productos + pt.cantidad %}
            {% set nombre = pt.producto.name %}
            {% if nombre in productos %}
              {% set _ = productos.update({nombre: productos[nombre] + pt.cantidad}) %}
            {% else %}
              {% set _ = productos.update({nombre: pt.cantidad}) %}
            {% endif %}
          {% endfor %}
          {% for nombre, cantidad in productos.items() %}
            {{ nombre }} x {{ cantidad }}{% if not loop.last %}, {% endif %}
          {% endfor %}
        {% else %}
          -
        {% endif %}
      </td>
      <td>  <!-- Id Membresia -->
        {% if pago.appointment.membresia %}
          {% if not pago.membresia_comprada %}
            {{ pago.appointment.membresia.id_usuario }} (uso) 
            {% set contadores.cortes = contadores.cortes + 1 %}
            {% set barbero = pago.appointment.barber.name %}
            {% if barbero in servicios_barbero.data %}
              {% set _ = servicios_barbero.data.update({barbero: servicios_barbero.data[barbero] + 1}) %}
            {% else %}
              {% set _ = servicios_barbero.data.update({barbero: 1}) %}
            {% endif %}
          {% else %}
            {{ pago.appointment.membresia.id_usuario }}
          {% endif %}
        {% else %}
          -
        {% endif %}
      </td>
      <td> <!-- Métodos de pago -->
        {% if pago.method2 %}
          {{ pago.method1.nombre }} - {{ pago.method2.nombre }}
        {% elif pago.appointment.service %}
          {% if pago.appointment.tipo_precio_servicio == 'amigo' %}
            {% if pago.amount_tip > 0 %}
              {{ pago.method1.nombre }}
            {% else %}
              -
            {% endif %}
          {% else %}
            {{ pago.method1.nombre }}
          {% endif %}
        {% else %}
          {{ pago.method1.nombre }}
        {% endif %}
      </td>
      <td> <!-- Montos de pago -->
        {% if pago.appointment and pago.appointment.tipo_precio_servicio == 'amigo' %}
          <!-- $0 -->
          ${{ "{:,.0f}".format((pago.amount_method1 or 0) - (pago.amount_tip or 0)).replace(",", ".") }}
        {% elif pago.method2 %}
          ${{ "{:,.0f}".format(pago.amount_method1 or 0).replace(",", ".") }} - ${{ "{:,.0f}".format(pago.amount_method2 or 0).replace(",", ".") }}
        {% else %}
          ${{ "{:,.0f}".format((pago.amount_method1 or 0) - (pago.amount_tip or 0)).replace(",", ".") }}
        {% endif %}
      </td>      
      <td>${{ "{:,.0f}".format(pago.amount_tip)|replace(",", ".") }}</td> <!-- Propina -->
      <td>  <!-- Monto -->
        {% if pago.appointment and pago.appointment.tipo_precio_servicio == 'amigo' %}
          ${{ "{:,.0f}".format((pago.amount_method1 or 0)+ (pago.amount_method2 or 0)).replace(",", ".") }}
        {% else %}
          ${{ "{:,.0f}".format((pago.amount_method1 or 0) + (pago.amount_method2 or 0)) | replace(",", ".") }}
        {% endif %}
      </td>      
      <td class="borrar-pago">
        <form method="POST" action="{{ url_for('delete_payment', pago_id=pago.id) }}">
          <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
          <button type="submit" class="btn btn-danger" title="Eliminar">🗑️</button>
        </form>
      </td>
    </tr>
  {% endfor %}
</table>
<div class="linea-inferior"></div>
  <div style="margin-top: 1rem;">
  <strong>Total de cortes:</strong> {{ contadores.cortes }}<br>

  <div class="linea-inferior"></div>
  <strong>Cantidad de Cortes por barbero:</strong>
  <ul>
    {% for barbero, cantidad in servicios_barbero.data.items() %}
      <li>- {{ barbero }}: {{ cantidad }}</li>
    {% endfor %}
  </ul>


  <strong>Total de productos vendidos:</strong> {{ contadores.productos }}
  <div class="linea-inferior"></div>
</div>


<script>

  /// VARIABLES \\\ 

  /// TOGGLES \\\
  const servicioToggle = document.getElementById('toggleServicio');
  const productoToggle = document.getElementById('toggleProducto');
  const membresiaToggle = document.getElementById('toggleMembresia');

  const multiPaymentToggle = document.getElementById('multiPaymentToggle');

  const numeroMembresia = document.getElementById('check_membresia');

  const propina = document.getElementById('tip')

  /// SELECCION \\\
  const serviceSelected = document.getElementById('serviceSelect');
  const productSection = document.getElementById('productSection');
  const membresiaSelected = document.getElementById('membresiaSelect');

  const cantidadSelectProducto = document.querySelector('.productCant');


  /// CHECKBOXS \\\
  const membresiaCheckbox = document.getElementById('membresiaCheckbox');
  const precioAmigoCheckbox = document.getElementById('precioAmigoCheckbox');
  const precioDescuentoCheckbox = document.getElementById('precioDescuentoCheckbox');

  const multiMetodosPagoGroup = document.getElementById('multiMethodGroup');    // Usa multiples metodos de pago


  /// VARS MSJ ERROR \\\ 
  const errorMultiplesPagos = document.getElementById('multiPaymentError');

  /// SUBMIT \\\
  const form = document.getElementById('paymentForm');


  /// FUNCIONES \\\

  form.addEventListener('submit', function (e) {
    // Siempre prevenir el envío por defecto primero
    e.preventDefault();

    let valid = true;

    const servicioActivo = servicioToggle.checked;
    const productoActivo = productoToggle.checked;
    const membresiaActivo = membresiaToggle.checked;

    // Validar toggles
    if (!servicioActivo && !productoActivo && !membresiaActivo) {
      muestraMensajeErrorToggle();
      return;
    }

    // Validar membresia
    if (membresiaActivo) {
      if (!validarSubmitMembresia()){
        return;
      } 
    }

    if (productoActivo && servicioActivo) {

      if (!validarSubmitServicioProducto()){
        return;
      }

    } else {

      // Validar producto
      if (productoActivo) {
        if (!validarSubmitProducto()){
          return;
        } 
      }

      // Validar servicio
      if (servicioActivo) {
        if (!validarSubmitServicio()){
          return;
        }
      }
    }

    e.target.submit();  // si todo esta bien envio

  });


  /// DOM \\\

  document.addEventListener('DOMContentLoaded', function () {
    
    // Evento que alterna entre Pago Multiple y Usa Membresia
    if (multiPaymentToggle && membresiaCheckbox) {    // si existen los elementos entra en if
    
      // Evento para alternar entre modo de pago simple y múltiple
      multiPaymentToggle.addEventListener('change', function () {
        if (this.checked) {
          membresiaCheckbox.checked = false;
          ocultarMembresiaInput();
          mostrarPagoSimpleGroup();
          activarMetodoPagoMultiple();
        } else {
          desactivarMetodoPagoMultiple();
          ocultarErrorMetodoPagoRepetido();
          ocultarErrorMonto();
        }
        updatePriceTotal();
      });

      // Evento para alternar el pago con membresia  
      membresiaCheckbox.addEventListener('change', function () {
        if (this.checked) {
          multiPaymentToggle.checked = false;
          desactivarMetodoPagoMultiple();
          mostrarMembresiaInput();
          ocultarPagoSimpleGroup();
          desmarcarPrecioDescuentoAmigo();
        } else {
          ocultarMembresiaInput();
          mostrarPagoSimpleGroup();
          ocultarErrorMembresia();
        }
        updatePriceTotal();
      });
    }

  });

  document.addEventListener('DOMContentLoaded', function () {

    // Listeners que actualizan la visibilidad si el usuario cambia de opción
    updateToggleSections(); 
    if (servicioToggle) servicioToggle.addEventListener('change', updateToggleSections);
    if (productoToggle) productoToggle.addEventListener('change', updateToggleSections);
    if (membresiaToggle) membresiaToggle.addEventListener('change', updateToggleSections);

  });

  // init toggle servicios
  function initServicesSection() {
    // Cuando se selecciona "precio amigo", desmarca "precio descuento"
    precioAmigoCheckbox.addEventListener('change', function () {
      if (this.checked) {
        desmarcarPrecioDescuento();
        desmarcarMembresia();
      }
    });

    // Cuando se selecciona "precio descuento", desmarca "precio amigo"
    precioDescuentoCheckbox.addEventListener('change', function () {
      if (this.checked) {
        desmarcarPrecioAmigo();
        desmarcarMembresia();
      }
    });

    serviceSelected.addEventListener('change', updatePriceTotal);           // Actualiza el precio cada vez que se cambia el servicio seleccionado
    precioAmigoCheckbox.addEventListener('change', updatePriceTotal);       // Actualiza el precio cuando se selecciona checkbox precio amigo
    precioDescuentoCheckbox.addEventListener('change', updatePriceTotal);   // Actualiza el precio cuando se selecciona checkbox precio descuento
  }

  function initProductSection() {
    if (!productSection.dataset.listenersAdded) {

      // Agregar o Eliminar row de producto
      productSection.addEventListener('click', function (e) {
        // Agregar producto
        if (e.target.classList.contains('addProductBtn')) {
          const currentRow = e.target.closest('.productRow');
          agregarProductoRow(currentRow);
        }

        // Eliminar producto
        if (e.target.classList.contains('removeProductBtn')) {
          const row = e.target.closest('.productRow');
          eliminarProductoRow(row);
        }
      });

      // Delegación de eventos para cambios en selects o cantidad
      productSection.addEventListener('change', function (e) {
        const row = e.target.closest('.productRow');

        // Actualiza valor de producto cuando detecta un cambio en un select de producto o en cantidad
        if (row && (e.target.classList.contains('productSelect') || e.target.classList.contains('productCant'))) {
          const producto = obtenerPrecioProductoRow(row);
          insertarValorProductoMostradorRow(row, producto.total);
          updatePriceTotal();
        }
      });

      // Marcar que los listeners fueron agregados
      productSection.dataset.listenersAdded = 'true';
    }
  }

  function initMembresiaSection() {
    membresiaSelected.addEventListener('change', updatePriceTotal);           // Actualiza el precio cada vez que se cambia la membresia seleccionada
  }

  function initFuncionalidadesBotones(){
    // Seleccioná todos los selects e inputs dentro de #multiMethodGroup
    if (multiMetodosPagoGroup) {

      /// Seleccion de metodos de pago  \\\
      const campos = multiMetodosPagoGroup.querySelectorAll('select, input');
      campos.forEach((campo) => {                             // oculto mensajes de error cuando hay algun movimiento
        campo.addEventListener('change', ocultarErrorMetodoPagoRepetido);
        campo.addEventListener('input', ocultarErrorMetodoPagoRepetido);
      });

      /// Ingreso de montos a pagar \\\
      const camposMonto = multiMethodGroup.querySelectorAll(
        'input[name="amount_method_multi_1"], input[name="amount_method_multi_2"], input[name="tip"]'
      );
      camposMonto.forEach((campo) => {                        // oculto mensajes de error cuando hay algun movimiento
        campo.addEventListener('change', ocultarErrorMonto);
        campo.addEventListener('input', ocultarErrorMonto);
      });
    }

    if (numeroMembresia) {
      numeroMembresia.addEventListener('input', ocultarErrorMembresia);
    }
  }

  document.addEventListener('DOMContentLoaded', function () {
    initServicesSection();
    initProductSection();
    initMembresiaSection();
    initFuncionalidadesBotones();

    propina.addEventListener('input', updatePriceTotal); // Agregar event listener para el input de propina
  });
  
</script>

{% endblock %}
