{% extends "layout.html" %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div id="flash-messages" class="w-100 position-fixed top-0 start-0" style="z-index: 1050;">
      {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show text-center m-0 rounded-0" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<h2>Registrar un nuevo pago</h2>

<form method="POST" id="paymentForm" action="{{ url_for('add_payment') }}">
  <input type="hidden" name="salon_id" value="{{ salon_id }}">

  <!-- Selector de Barbero -->
  <div class="form-group">
    <label for="barber_id">Barbero:</label>
    <select name="barber_id" required>
      {% for b in barbers %}
        <option value="{{ b.id }}">{{ b.name }}</option>
      {% endfor %}
    </select>
  </div>

  <!-- Toggle Servicio, Producto o Membresia-->
  <div class="form-group">
    <div id="toggleContainer">
      <div>
        <input type="checkbox" class="btn-check" id="toggleServicio" name="toggle_servicio" autocomplete="off" checked>
        <label class="btn full-width" for="toggleServicio">Servicio</label>
      </div>
      <div>
        <input type="checkbox" class="btn-check" id="toggleProducto" name="toggle_producto" autocomplete="off">
        <label class="btn full-width" for="toggleProducto">Producto</label>
      </div>
      <div>
        <input type="checkbox" class="btn-check" id="toggleMembresia" name="toggle_membresia" autocomplete="off">
        <label class="btn full-width" for="toggleMembresia">Membresía</label>
      </div>
    </div>
    <p id="toggleError" class="text-danger mt-1" style="display: none;"> 
      Debe seleccionar "Servicio", "Producto" o "Membresia".
    </p>
  </div>

  <!-- Selector de servicio -->
  <div id="servicioSection" class="form-group">
    <label for="service_id">Servicio y precio:</label>
    <div style="display: flex; gap: 1rem;">
      <select name="service_id" id="serviceSelect" required>
        {% for s in services %}
          <option value="{{ s.id }}" data-precio="{{ s.precio }}">{{ s.name }}</option>
        {% endfor %}
      </select>
      <input type="text" id="servicePrice" disabled placeholder="$" style="width: 100px;">
    </div>
  </div>

  <!-- Selector de productos -->
  <div id="productSection" class="form-group" style="display: none;">
    <div class="productRow" data-index="0">
      <label>Producto:</label>
      <div>
        <select name="product_id[]" class="productSelect" onchange="updateCantidadOptions(this)">
          {% for product in products %}
            {% if product.cantidad > 0 %}
              <option value="{{ product.id }}" data-precio="{{ product.precio }}" data-cantidad="{{ product.cantidad }}">
                {{ product.name }}
              </option>
            {% endif %}
          {% endfor %}
        </select>
        <select class="productCant" name="product_quantity[]">
          <!-- Se llena dinámicamente con JS -->
        </select>
        <input type="text" class="productPrice" disabled placeholder="$">
        <button type="button" class="addProductBtn btn-primary">+</button>
        <button type="button" class="removeProductBtn btn-primary">−</button>
      </div>
    </div>
  </div>

  <!-- Selector de membresía -->
  <div id="membresiaSection" class="form-group" style="display: none;">
    <label for="membresia_id">Membresía y precio:</label>
    <div style="display: flex; gap: 1rem;">
      <select name="membresia_id" id="membresiaSelect">
        {% for membresia in membresias %}
          <option value="{{ membresia.id }}" data-usos="{{ membresia.usos_disponibles }}" data-precio="{{ membresia.precio }}">
            {{ membresia.nombre }}
          </option>
        {% endfor %}
      </select>
      <input type="text" id="membreciaPrice" disabled placeholder="$" style="width: 100px;">
    </div>
  </div>

  <!-- Metodo de Pago -->
  <div class="form-group payment-methods">
    <div style="display: flex; align-items: center; justify-content: space-between;">
      <label for="method">Método de pago:</label>
      <label id="membresiaLabel" name="membresiaLabel" class="checkbox-label" style="display: none;">
        <input type="checkbox" id="membresiaCheckbox" name="membresiaCheckbox"> ¿Usa Membresía?
      </label>
      <label class="checkbox-label">
        <input type="checkbox" id="multiPaymentToggle" name="togglemultiPayment"> ¿Usa múltiples métodos?
      </label>
    </div>

    <div class="payment-method-container">
      <!-- Modo simple -->
      <div id="singleMethodGroup">
        <select id="methodSimple" name="methodSimple">
          {% for method in methods %}
            <option value="{{ method.id }}">{{ method.nombre }}</option>
          {% endfor %}
        </select>
        <input type="hidden" name="amount_simple" id="amountSimple">
      </div>

      <!-- Membresia -->
      <div id="membresiaMethodGroup" style="display: none;">
        <div class="membresia-method-group">
          <input type="number" name="check_membresia" id="check_membresia" step="1" placeholder="Número de Membresía">
        </div>
      </div>

      <!-- Modo múltiple -->
      <div id="multiMethodGroup" style="display: none;">
        <div class="payment-method-group">
          <select name="method_multiple_1" id="method_multiple_1">
            {% for method in methods %}
              <option value="{{ method.id }}">{{ method.nombre }}</option>
            {% endfor %}
          </select>
          <input type="number" name="amount_method_multi_1" id="amount_method_multi-1" step="1" placeholder="Monto $">
        </div>

        <div class="payment-method-group">
          <select name="method_multiple_2" id="method_multiple_2">
            {% for method in methods %}
              <option value="{{ method.id }}">{{ method.nombre }}</option>
            {% endfor %}
          </select>
          <input type="number" name="amount_method_multi_2" id="amount_method_multi_2" step="1" placeholder="Monto $">
        </div>
      </div>
    </div>
  </div>

  <!-- Propina -->
  <div class="form-group">
    <label for="tip">Propina:</label>
    <div class="propina-row">
      <input type="number" name="tip" id="tip" step="100" placeholder="$" class="form-control">
      <button type="submit" class="btn-primary">Guardar pago</button>
    </div>
  </div>
</form>

<h3>Pagos Hoy</h3>

<table class="table table-striped table-bordered text-center" style="margin-top: 1rem;">
  <thead>
    <tr>
      <th>Hora</th>
      <th>Barbero</th>
      <th>Servicio</th>
      <th>Producto</th>
      <th>Membresia</th>
      <th>M. Pago </th>
      <th>Monto</th>
      <!-- 
        <th>M. Pago</th> 
        <th>Monto</th> 
      -->
      <th>Propina</th>
      <th>Monto Total</th>
      <th>Borrar Pago</th>
    </tr>
  </thead>
  {% for pago in pagos %}
    <tr>
      <td>{{ pago.date.strftime('%H:%M') }}</td>
      <td>{{ pago.appointment.barber.name }}</td>
      <td>{{ pago.appointment.service.name if pago.appointment.service else '-' }}</td>
      <td>
        {% if pago.appointment.productos_turno %}
          {% set productos = {} %}
          {% for pt in pago.appointment.productos_turno %}
            {% set nombre = pt.producto.name %}
            {% if nombre in productos %}
              {% set _ = productos.update({nombre: productos[nombre] + pt.cantidad}) %}
            {% else %}
              {% set _ = productos.update({nombre: pt.cantidad}) %}
            {% endif %}
          {% endfor %}
          {% for nombre, cantidad in productos.items() %}
            {{ nombre }} x {{ cantidad }}{% if not loop.last %}, {% endif %}
          {% endfor %}
        {% else %}
          -
        {% endif %}
      </td>
      <td>{{ pago.appointment.membresia.id if pago.appointment.membresia else '-' }}</td>
      <td> <!-- Metodos de pago -->
        {% if pago.method2 %}
          {{ pago.method1.nombre }} - {{ pago.method2.nombre }}
        {% else %}
          {{ pago.method1.nombre }}
        {% endif %}
      </td>
      <td>
        {% if pago.method2 %}
          ${{ pago.amount_method1|int }} - ${{ pago.amount_method2|int }}
        {% else %}
          ${{ pago.amount_method1|int - pago.amount_tip|int }}
        {% endif %}
      </td>
      <td>${{ pago.amount_tip|int }}</td> 
      <td>${{ pago.amount_method1|int + pago.amount_method2|int }}</td>
      <td class="borrar-pago">
        <form method="POST" action="{{ url_for('delete_payment', pago_id=pago.id) }}">
          <button type="submit" class="btn btn-danger" title="Eliminar">🗑️</button>
        </form>
      </td>
    </tr>
  {% endfor %}
</table>


<script>
  const serviceSelect = document.getElementById('serviceSelect');
  const servicePrice = document.getElementById('servicePrice');
  const togglemultiPayment = document.getElementById('multiPaymentToggle');
  const productToggle = document.getElementById('productToggle');
  const singleGroup = document.getElementById('singleMethodGroup');
  const multiGroup = document.getElementById('multiMethodGroup');
  const form = document.getElementById('paymentForm');
  const errorMsg = document.getElementById('multiPaymentError');
  const repeatError = document.getElementById('methodRepeatError');
  
  const amountSimple = document.getElementById('amountSimple');
  const method1Select = document.getElementById('method1');
  const method2Select = document.getElementById('method2');

  const servicioToggle = document.getElementById('toggleServicio');
  const productoToggle = document.getElementById('toggleProducto');
  const membresiaToggle = document.getElementById('toggleMembresia');

  const servicioSection = document.getElementById('servicioSection');
  const productSection = document.getElementById('productSection');
  const membresiaSelect = document.getElementById('membresiaSelect');
  const priceInput = document.getElementById('membreciaPrice');

  const membresiaLabel = document.getElementById('membresiaLabel');


  // Función para mostrar/ocultar secciones según el toggle (servicio/producto)
  function updateToggleSections(e = null) {
    const source = e?.target?.id || null;

    if (source === 'toggleMembresia' && membresiaToggle.checked) {
      // Si el usuario activó membresía, desactiva los otros
      console.log("Activando membresía");
      servicioToggle.checked = false;
      productoToggle.checked = false;
    }

    if ((source === 'toggleServicio' && servicioToggle.checked) || 
        (source === 'toggleProducto' && productoToggle.checked)) {
      // Si el usuario activó servicio o producto, desactiva membresía
      console.log("Activando servicio o producto");
      membresiaToggle.checked = false;
    }

    // Mostrar u ocultar secciones 
    servicioSection.style.display = servicioToggle.checked ? 'block' : 'none';
    productSection.style.display = productoToggle.checked ? 'block' : 'none';
    membresiaSection.style.display = membresiaToggle.checked ? 'block' : 'none';
    membresiaLabel.style.display = membresiaToggle.checked ? 'block' : 'none';


    if (productoToggle.checked) {
      const productSelect = document.querySelector('.productSelect');
      if (productSelect) {
        updateCantidadOptions(productSelect);
      }
      initProductSection(); 
    }

    if (membresiaToggle.checked) {
      initMembresiaSection();
    }
  }

  // Listeners que actualizan la visibilidad si el usuario cambia de opción
  servicioToggle.addEventListener('change', updateToggleSections);
  productoToggle.addEventListener('change', updateToggleSections);
  membresiaToggle.addEventListener('change', updateToggleSections);

  // Actualiza dinámicamente las opciones de cantidad según el producto seleccionado
  function updateCantidadOptions(selectElement) {
    const selectedOption = selectElement.options[selectElement.selectedIndex];
    const cantidadDisponible = parseInt(selectedOption.dataset.cantidad || 0);

    const cantidadSelect = document.querySelector('.productCant');
    cantidadSelect.innerHTML = ''; // Limpiar opciones previas

    for (let i = 1; i <= cantidadDisponible; i++) {
      const option = document.createElement('option');
      option.value = i;
      option.textContent = i;
      cantidadSelect.appendChild(option);
    }
  }

  // Función que actualiza el precio del servicio seleccionado y lo asigna al input de solo lectura
  function updatePrice() {
    const selected = serviceSelect.options[serviceSelect.selectedIndex];
    const precio = selected.getAttribute('data-precio');
    const precioFloat = Math.round(parseFloat(precio).toFixed(2));
    servicePrice.value = `$${precioFloat}`;
    amountSimple.value = precioFloat;

    // console.log("servicePrice.value: "+servicePrice.value);
  }

  updatePrice();      // Se llama una vez al cargar la página para mostrar el precio inicial
  serviceSelect.addEventListener('change', updatePrice);    // Actualiza el precio cada vez que se cambia el servicio seleccionado

  // Oculta alertas automáticamente después de 15 segundos
  setTimeout(() => {
    const alerts = document.querySelectorAll('.alert');
    alerts.forEach(alert => {
      alert.classList.remove('show');
      alert.classList.add('fade');
      setTimeout(() => alert.remove(), 1000); 
    });
  }, 15000);

  // Evento para alternar entre modo de pago simple y múltiple
  togglemultiPayment.addEventListener('change', function () {
    const paymentMethodsGroup = document.querySelector('.form-group.payment-methods');
    
    if (this.checked) {
      // Si se activa el pago múltiple, ocultar el modo simple y mostrar campos adicionales
      singleGroup.style.display = 'none';
      multiGroup.style.display = 'block';
      multiGroup.querySelectorAll('input').forEach(el => el.required = true);
      paymentMethodsGroup.classList.add('multiple');
    } else {
      // Si se desactiva, volver al modo simple
      singleGroup.style.display = 'flex';
      multiGroup.style.display = 'none';
      multiGroup.querySelectorAll('input').forEach(el => {
        el.required = false;
        el.classList.remove('input-error');
      });
      multiGroup.querySelectorAll('select').forEach(el => el.classList.remove('input-error'));
      errorMsg.style.display = 'none';
      repeatError.style.display = 'none';
      paymentMethodsGroup.classList.remove('multiple');
    }
  });


  /// Funciones utilizadas en submit

  function mostrarErrorToggle(mostrar) {
    toggleError.style.display = mostrar ? 'block' : 'none';
    toggleContainer.classList.toggle('border', mostrar);
    toggleContainer.classList.toggle('border-danger', mostrar);
    toggleContainer.classList.toggle('rounded', mostrar);
    toggleContainer.classList.toggle('p-2', mostrar);
  }

  function obtenerPrecioServicio() {
    const select = document.getElementById('serviceSelect');
    const selected = select.options[select.selectedIndex];
    return parseFloat(selected.getAttribute('data-precio')) || 0;
  }

  function obtenerProductosSeleccionados() {
    const rows = document.querySelectorAll('#productSection .productRow');
    const items = [];
    let total = 0;

    rows.forEach((row) => {
      const productSelect = row.querySelector('.productSelect');
      const cantidadSelect = row.querySelector('.productCant');

      if (!productSelect || !cantidadSelect) return;

      const selected = productSelect.options[productSelect.selectedIndex];
      const id = selected.value;
      const precio = parseFloat(selected.getAttribute('data-precio')) || 0;
      const cantidad = parseInt(cantidadSelect.value) || 0;

      if (cantidad > 0) {
        items.push({ id, precio, cantidad });
        total += precio * cantidad;
      }
    });

    return { total, items };
  }

  function agregarInputsOcultos(productos) {
    productos.forEach((producto, index) => {
      const inputId = crearInputOculto(`product_id_${index}`, producto.id);
      const inputCant = crearInputOculto(`cantidad_${index}`, producto.cantidad);
      form.appendChild(inputId);
      form.appendChild(inputCant);
    });
  }

  function crearInputOculto(nombre, valor) {
    const input = document.createElement('input');
    input.type = 'hidden';
    input.name = nombre;
    input.value = valor;
    return input;
  }

  function validarMultiplesMetodos(totalEsperado) {
    const form = document.querySelector('form');
    const repeatError = document.getElementById('methodRepeatError');

    const amount1 = parseFloat(form.querySelector('input[name="amount_method_multi_1"]').value) || 0;
    const amount2 = parseFloat(form.querySelector('input[name="amount_method_multi_2"]').value) || 0;
    const totalPagado = amount1 + amount2;

    const method1 = form.querySelector('select[name="method_multiple_1"]').value;
    const method2 = form.querySelector('select[name="method_multiple_2"]').value;

    const metodoInputs = [
      form.querySelector('select[name="method_multiple_1"]'),
      form.querySelector('select[name="method_multiple_2"]')
    ];

    console.log("llega validar metodos")

    // Validar métodos repetidos
    if (method1 === method2) {
      console.log("entra if method")
      metodoInputs.forEach(select => select.classList.add('input-error'));
      repeatError.style.display = 'block';
      return false;
    } else {
      console.log("entra else method")
      metodoInputs.forEach(select => select.classList.remove('input-error'));
      repeatError.style.display = 'none';
    }

    console.log("llega validar total")

    // Validar que el total pagado sea correcto
    const montoError = document.getElementById('montoError');

    if (totalPagado !== totalEsperado) {
      montoError.style.display = 'block';
      return false;
    } else {
      montoError.style.display = 'none';
    }

    return true;
  }


  // Validaciones al enviar el formulario
  // Validar que haga las mismas validaciones que func python
  form.addEventListener('submit', function (e) {
    let valid = true;

    const toggleError = document.getElementById('toggleError');
    const toggleContainer = document.getElementById('toggleContainer');

    const servicioActivo = servicioToggle.checked;
    const productoActivo = productoToggle.checked;
    const membresiaActivo = membresiaToggle.checked;

    // Validar toggles
    if (!servicioActivo && !productoActivo && !membresiaActivo) {
      mostrarErrorToggle(true);
      e.preventDefault();
      return;
    } else {
      mostrarErrorToggle(false);
    }

    if (servicioActivo || productoActivo){
      const servicePrecio = servicioActivo ? obtenerPrecioServicio() : 0;
      const productosData = productoActivo ? obtenerProductosSeleccionados() : { total: 0, items: [] };

      if (productoActivo && productosData.items.length === 0) {
        alert('Debe seleccionar al menos un producto con cantidad válida');
        e.preventDefault();
        return;
      }

      agregarInputsOcultos(productosData.items);

      const totalEsperado = servicePrecio + productosData.total;
      console.log("totalEsperado: ",totalEsperado)

      if (togglemultiPayment.checked) {
        const validMultiPago = validarMultiplesMetodos(totalEsperado);
        if (!validMultiPago) valid = false;
      }
      console.log("pasa if")

    }

    if (membresiaActivo){

      const usa_membresia = document.getElementById('membresiaCheckbox');
      
      if (usa_membresia.checked) {

        const num_membresia = document.getElementById('check_membresia');
        console.log("num_membresia: ", num_membresia)
        console.log("Valor ingresado: ", num_membresia.value);

      } else {
        console.log("paga membresia")
        const precioActual = obtenerPrecioMembresiaSeleccionada();
        console.log('Precio de la membresía seleccionada:', precioActual);

        const totalEsperado = precioActual;

        if (togglemultiPayment.checked) {
          const validMultiPago = validarMultiplesMetodos(totalEsperado);
          if (!validMultiPago) valid = false;
          
          if (validMultiPago){
            console.log('Precio valido');
          } else {
            console.log('Error en cuentas');
          } 
        }
      }
    }

    if (!valid) {
      e.preventDefault();
    }
  });


  // Limpia el error de validación en los inputs de monto al modificarlos
  document.querySelectorAll('input[name="amount1"], input[name="amount2"]').forEach(input => {
    input.addEventListener('input', () => {
      input.classList.remove('input-error');
      errorMsg.style.display = 'none';
    });
  });

  // Limpia el error si se corrige la selección de métodos de pago
  document.querySelectorAll('select[name="method1"], select[name="method2"]').forEach(select => {
    select.addEventListener('change', () => {
      select.classList.remove('input-error');
      repeatError.style.display = 'none';
    });
  });

  // Inicial
  updateToggleSections();   // Inicializa visibilidad de secciones al cargar el script

 
  function mostrarError(campo, mensaje) {
    campo.classList.add('input-error');
    mensaje.style.display = 'block';
  }

  function ocultarError(campo, mensaje) {
    campo.classList.remove('input-error');
    mensaje.style.display = 'none';
  }

  // Muestra/oculta los métodos de pago según si está marcada la membresía
  function setupMembresiaCheckboxToggle() {
    const checkbox_use_member = document.getElementById('membresiaCheckbox');
    const membershipDiv = document.getElementById('membresiaMethodGroup');
    const multiPaymentToggle = document.getElementById('multiPaymentToggle');
    const singleMethodGroup = document.getElementById('singleMethodGroup');
    const multiMethodGroup = document.getElementById('multiMethodGroup');

    if (!checkbox_use_member || !membershipDiv || !multiPaymentToggle || !singleMethodGroup) {
      console.warn("❌ Uno o más elementos no se encontraron.");
      return;
    }

    checkbox_use_member.addEventListener('change', function () {
      if (checkbox_use_member.checked) {
        membershipDiv.style.display = 'block';
        multiPaymentToggle.closest('label').style.display = 'none';
        singleMethodGroup.style.display = 'none';
        multiMethodGroup.style.display = 'none';
      } else {
        membershipDiv.style.display = 'none';
        multiPaymentToggle.closest('label').style.display = 'inline-block';
        singleMethodGroup.style.display = 'block';
        
        if (multiPaymentToggle.checked){
          multiMethodGroup.style.display = 'block';
          singleGroup.style.display = 'none';
          // singleMethodGroup.style.display = 'none'; 
        }
      }
    });
  }

  // Init toggle producto
  function initProductSection() {
    const productSection = document.getElementById('productSection');

    function updatePrice(row) {
      const precio = parseFloat(row.querySelector('.productSelect').selectedOptions[0].dataset.precio || 0);
      const cantidad = parseInt(row.querySelector('.productCant').value || 1);
      const total = precio * cantidad;
      row.querySelector('.productPrice').value = `$${Math.round(total)}`;
    }

    if (!productSection.dataset.listenersAdded) {
      // Agregar producto
      productSection.addEventListener('click', function (e) {
        if (e.target.classList.contains('addProductBtn')) {
          const currentRow = e.target.closest('.productRow');
          const newRow = currentRow.cloneNode(true);

          newRow.querySelector('.productSelect').setAttribute('name', 'product_id[]');
          newRow.querySelector('.productCant').setAttribute('name', 'product_quantity[]');

          newRow.querySelector('.productSelect').selectedIndex = 0;
          newRow.querySelector('.productCant').selectedIndex = 0;
          newRow.querySelector('.productPrice').value = '';
          productSection.appendChild(newRow);

          updatePrice(newRow);

          const messageContainer = document.getElementById('messageContainer');
          messageContainer.style.display = 'none';
          messageContainer.textContent = '';
        }

        // Eliminar producto
        if (e.target.classList.contains('removeProductBtn')) {
          const row = e.target.closest('.productRow');
          const rows = productSection.querySelectorAll('.productRow');
          const messageContainer = document.getElementById('messageContainer');

          if (rows.length > 1) {
            row.remove();
            messageContainer.style.display = 'none';
            messageContainer.textContent = '';
          } else {
            messageContainer.style.display = 'block';
            messageContainer.textContent = 'Debe haber al menos un producto.';
          }
        }
      });

      // Recalcular precios
      productSection.addEventListener('change', function (e) {
        if (e.target.classList.contains('productSelect') || e.target.classList.contains('productCant')) {
          const row = e.target.closest('.productRow');
          updatePrice(row);
        }
      });

      productSection.dataset.listenersAdded = "true";
    }

    // Calcular precio inicial
    document.querySelectorAll('.productRow').forEach(row => {
      updatePrice(row);
    });
  }

  // Init toggle servicio
  function initMembresiaSection() {
    const membresiaSelect = document.getElementById('membresiaSelect');
    const priceInput = document.getElementById('membreciaPrice');

    function updateMembresiaPrice() {
      const selectedOption = membresiaSelect.options[membresiaSelect.selectedIndex];
      const precio = selectedOption.getAttribute('data-precio');
      priceInput.value = precio ? `$${parseFloat(precio).toFixed(0)}` : '';
    }

    if (!membresiaSelect.dataset.listenerAdded) {
      membresiaSelect.addEventListener('change', updateMembresiaPrice);
      membresiaSelect.dataset.listenerAdded = "true";
    }

    // Forzar actualización inicial
    updateMembresiaPrice();
  }

  document.addEventListener('DOMContentLoaded', function () {
    initProductSection();
    initMembresiaSection();
    setupMembresiaCheckboxToggle();
  });

</script>

{% endblock %}
