{% extends "layout.html" %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div id="flash-messages" class="w-100 position-fixed top-0 start-0" style="z-index: 1050;">
      {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show text-center m-0 rounded-0" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<h2>Registrar un nuevo pago</h2>

<form method="POST" id="paymentForm" action="{{ url_for('add_payment') }}">
  <input type="hidden" name="salon_id" value="{{ salon_id }}">

  <label for="barber_id">Peluquero:</label>
  <select name="barber_id" required>
    {% for b in barbers %}
      <option value="{{ b.id }}">{{ b.name }}</option>
    {% endfor %}
  </select>

  <!-- Toggle Servicio o Producto -->
  <div id="toggleContainer" style="display: flex; gap: 1rem; margin-bottom: 1rem;">
    <div style="flex: 1;">
      <input type="checkbox" class="btn-check" id="toggleServicio" name="toggleServicio" autocomplete="off" checked>
      <label class="btn full-width" for="toggleServicio">Servicio</label>
    </div>
    <div style="flex: 1;">
      <input type="checkbox" class="btn-check" id="toggleProducto" name="toggleProducto" autocomplete="off">
      <label class="btn full-width" for="toggleProducto">Producto</label>
    </div>
  </div>
  <p id="toggleError" class="text-danger mt-1" style="display: none;">
    Debe seleccionar al menos "Servicio" o "Producto".
  </p>                                                    


  <!-- Selector de servicio -->
  <div id="servicioSection">
    <label for="service_id">Servicio y precio:</label>
    <div style="display: flex; gap: 1rem;">
      <select name="service_id" id="serviceSelect" required>
        {% for s in services %}
          <option value="{{ s.id }}" data-precio="{{ s.precio }}">
            {{ s.name }}
          </option>
        {% endfor %}
      </select>
      <input type="text" id="servicePrice" disabled placeholder="$" style="width: 100px;">
    </div>
  </div>

  <!-- Selector de productos -->
  <div id="productSection">
    <div id="productSection" >
      <label for="product_id">Producto:</label>
      <div style="display: flex; gap: 1rem;">
        <select name="product_id" id="productSelect">
          {% for product in products %}
            <option value="{{ product.id }}" data-precio="{{ product.precio }}">
              {{ product.name }}
            </option>
          {% endfor %}
        </select>
        <select id="productCant" name="cantidad" style="width: 100px;">
          {% for i in range(1, 11) %}
            <option value="{{ i }}">{{ i }}</option>
          {% endfor %}
        </select>       
        <input type="text" id="productPrice" disabled placeholder="$" style="width: 100px;">
      </div>
    </div>
  </div>

  <div style="display: flex; align-items: center; justify-content: space-between;">
      <label for="method">Método de pago:</label>
      <label class="checkbox-label">
        <input type="checkbox" id=""> ¿Usa cúpon de descuento?
      </label>
      <label class="checkbox-label">
        <input type="checkbox" id="multiPaymentToggle"> ¿Usar múltiples métodos?
      </label>
  </div>

  <!-- Modo simple -->
  <div id="singleMethodGroup" class="payment-method-group">
    <select id="methodSimple" name="method1">
      {% for method in methods %}
        <option value="{{ method.id }}">{{ method.nombre }}</option>
      {% endfor %}
    </select>
    <input type="hidden" name="amount1" id="amountSimple">
  </div>

  <!-- Modo múltiple -->
  <div id="multiMethodGroup" style="display: none;">
    <div class="payment-method-group">
      <select id="methodMultiple">
        {% for method in methods %}
          <option value="{{ method.id }}">{{ method.nombre }}</option>
        {% endfor %}
      </select>
      <input type="number" name="amount1" id="amount1" step="1" placeholder="Monto $">
    </div>

    <div class="payment-method-group">
      <select name="method2" id="method2">
        {% for method in methods %}
          <option value="{{ method.id }}">{{ method.nombre }}</option>
        {% endfor %}
      </select>
      <input type="number" name="amount2" id="amount2" step="100" placeholder="Monto $">
    </div>

    <!-- Mensajes de error -->
    <p id="multiPaymentError" class="error-msg" style="display: none; color: red; font-size: 0.9rem;">
      La suma de los montos debe ser igual al precio del servicio.
    </p>
    <p id="methodRepeatError" class="error-msg" style="display: none; color: red; font-size: 0.9rem;">
      Los métodos de pago deben ser diferentes.
    </p>
  </div>

  <!-- Propina y botón -->
  <div class="mb-3">
    <label for="tip" class="form-label">Propina:</label>
    <div class="propina-row">
      <input type="number" name="tip" id="tip" step="100" placeholder="$">
      <button type="submit">Guardar pago</button>
    </div>
  </div>
</form>

<h3>Pagos Hoy</h3>

<table class="table table-striped table-bordered text-center" style="margin-top: 1rem;">
  <thead>
    <tr>
      <th>Hora</th>
      <th>Peluquero</th>
      <th>Servicio</th>
      <th>Producto</th>
      <th>Cantidad</th>
      <th>M. Pago </th>
      <th>Monto</th>
      <th>M. Pago</th>
      <th>Monto</th>
      <th>Propina</th>
      <th>Monto Total</th>
      <th>Borrar Pago</th>
    </tr>
  </thead>
  {% for pago in pagos %}
    <tr>
      <td>{{ pago.date.strftime('%H:%M') }}</td>
      <td>{{ pago.appointment.barber.name }}</td>
      <td>{{ pago.appointment.service.name }}</td>
      <td> Prueba</td>
      <td> 0 </td>
      <td>{{ pago.method1.nombre }}</td>
      <td>${{ pago.amount_method1|int }}</td>
      <td>{{ pago.method2.nombre if pago.method2 else '-' }}</td>
      <td>${{ pago.amount_method2|int }}</td>
      <td>${{ pago.amount_tip|int }}</td>
      <td>${{ pago.amount_method1|int + pago.amount_method2|int + pago.amount_tip|int }}</td>
      <td class="borrar-pago">
        <form method="POST" action="{{ url_for('delete_payment', pago_id=pago.id) }}">
          <button type="submit" class="btn btn-danger" title="Eliminar">🗑️</button>
        </form>
      </td>
    </tr>
  {% endfor %}
</table>


<script>
  const serviceSelect = document.getElementById('serviceSelect');
  const servicePrice = document.getElementById('servicePrice');
  const productPrice = document.getElementById('productPrice');
  const productCant = document.getElementById('productCant');
  const productSelect = document.getElementById('productSelect');
  const toggle = document.getElementById('multiPaymentToggle');
  const productToggle = document.getElementById('productToggle');
  const singleGroup = document.getElementById('singleMethodGroup');
  const multiGroup = document.getElementById('multiMethodGroup');
  const form = document.getElementById('paymentForm');
  const errorMsg = document.getElementById('multiPaymentError');
  const repeatError = document.getElementById('methodRepeatError');
  
  const amount1 = document.getElementById('amount1');
  const amount2 = document.getElementById('amount2');
  const amountSimple = document.getElementById('amountSimple');
  const method1Select = document.getElementById('method1');
  const method2Select = document.getElementById('method2');

  const tipoPagoRadios = document.querySelectorAll('input[name="tipo_pago"]');

  const servicioToggle = document.getElementById('toggleServicio');
  const productoToggle = document.getElementById('toggleProducto');
  const servicioSection = document.getElementById('servicioSection');
  const productSection = document.getElementById('productSection');

  console.log("productPrice: "+ productPrice.value)
  console.log("productCant: "+ productCant.value)

  function updatePrice() {
    const selected = serviceSelect.options[serviceSelect.selectedIndex];
    const precio = selected.getAttribute('data-precio');
    const precioFloat = Math.round(parseFloat(precio).toFixed(2));
    servicePrice.value = `$${precioFloat}`;
    amountSimple.value = precioFloat;

    // console.log("servicePrice.value: "+servicePrice.value);
  }

  updatePrice();
  serviceSelect.addEventListener('change', updatePrice);

  function updateProductPrice() {
    const selected = productSelect.options[productSelect.selectedIndex];
    const precio = selected.getAttribute('data-precio');
    if (precio !== null) {
      const precioInt = Math.round(parseFloat(precio));
      productPrice.value = `$${precioInt}`;
    } else {
      productPrice.value = '';
    }
  }

  updateProductPrice(); 
  productSelect.addEventListener('change', updateProductPrice);

  setTimeout(() => {
    const alerts = document.querySelectorAll('.alert');
    alerts.forEach(alert => {
      alert.classList.remove('show');
      alert.classList.add('fade');
      setTimeout(() => alert.remove(), 1000); 
    });
  }, 15000);

  toggle.addEventListener('change', function () {
    if (this.checked) {
      singleGroup.style.display = 'none';
      multiGroup.style.display = 'block';
      multiGroup.querySelectorAll('input').forEach(el => el.required = true);
    } else {
      singleGroup.style.display = 'flex';
      multiGroup.style.display = 'none';
      multiGroup.querySelectorAll('input').forEach(el => {
        el.required = false;
        el.classList.remove('input-error');
      });
      multiGroup.querySelectorAll('select').forEach(el => el.classList.remove('input-error'));
      errorMsg.style.display = 'none';
      repeatError.style.display = 'none';
    }
  });

  form.addEventListener('submit', function (e) {

    const toggleError = document.getElementById('toggleError');
    const toggleContainer = document.getElementById('toggleContainer');

    // Validar que un button de Producto o Servicio esté seleccionado
    if (!servicioToggle.checked && !productoToggle.checked) {
      toggleError.style.display = 'block';
      toggleContainer.classList.add('border', 'border-danger', 'rounded', 'p-2');
      e.preventDefault();
      return;
    } else {
      toggleError.style.display = 'none';
      toggleContainer.classList.remove('border', 'border-danger', 'rounded', 'p-2');
    }

    const amountSimple = document.getElementById('amountSimple');
    const amountInput = document.getElementById('amount1');

    if (toggle.checked) {
      // Modo múltiple
      methodSimple.disabled = true;
      methodMultiple.disabled = false;
      methodSimple.removeAttribute('name');
      methodMultiple.setAttribute('name', 'method1');

      amountSimple.removeAttribute('name');
      amountInput.setAttribute('name', 'amount1');
    } else {
      // Modo simple
      methodMultiple.disabled = true;
      methodSimple.disabled = false;
      methodMultiple.removeAttribute('name');
      methodSimple.setAttribute('name', 'method1');
      updatePrice();
    
      amountInput.removeAttribute('name');
      amountSimple.setAttribute('name', 'amount1');
    }

    let valid = true;

    if (toggle.checked) {

      const price = parseFloat(serviceSelect.options[serviceSelect.selectedIndex].getAttribute('data-precio'));
      const amount1 = parseFloat(form.querySelector('input[name="amount1"]').value) || 0;
      const amount2 = parseFloat(form.querySelector('input[name="amount2"]').value) || 0;
      const total = amount1 + amount2;

      const method1 = form.querySelector('select[name="method1"]').value;
      const method2 = form.querySelector('select[name="method2"]').value;

      // console.log("price: " + price);

      // Validación de monto exacto
      if (total !== price) {
        [form.querySelector('input[name="amount1"]'), form.querySelector('input[name="amount2"]')]
          .forEach(input => input.classList.add('input-error'));
        errorMsg.style.display = 'block';
        valid = false;
      } else {
        [form.querySelector('input[name="amount1"]'), form.querySelector('input[name="amount2"]')]
          .forEach(input => input.classList.remove('input-error'));
        errorMsg.style.display = 'none';
      }

      // Validación de métodos distintos
      if (method1 === method2) {
        [form.querySelector('select[name="method1"]'), form.querySelector('select[name="method2"]')]
          .forEach(select => select.classList.add('input-error'));
        repeatError.style.display = 'block';
        valid = false;
      } else {
        [form.querySelector('select[name="method1"]'), form.querySelector('select[name="method2"]')]
          .forEach(select => select.classList.remove('input-error'));
        repeatError.style.display = 'none';
      }

      if (!valid) {
        e.preventDefault();
      }
    }
  });

  document.querySelectorAll('input[name="amount1"], input[name="amount2"]').forEach(input => {
    input.addEventListener('input', () => {
      input.classList.remove('input-error');
      errorMsg.style.display = 'none';
    });
  });

  document.querySelectorAll('select[name="method1"], select[name="method2"]').forEach(select => {
    select.addEventListener('change', () => {
      select.classList.remove('input-error');
      repeatError.style.display = 'none';
    });
  });

  function updateToggleSections() {
    servicioSection.style.display = servicioToggle.checked ? 'block' : 'none';
    productSection.style.display = productoToggle.checked ? 'block' : 'none';
  }

  // Inicial
  updateToggleSections();

  // Listeners
  servicioToggle.addEventListener('change', updateToggleSections);
  productoToggle.addEventListener('change', updateToggleSections);


</script>

{% endblock %}
