{% extends "layout.html" %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='barbers.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
{% endblock %}

{% block content %}
  <h2>Empleados</h2>

  <form method="POST" action="{{ url_for('add_barber') }}">
    <div class="form-group">
      <label for="name">Nombre:</label>
      <input type="text" name="name" id="name" placeholder="Nombre del empleado" required>
    </div>

    <div class="form-group">
      <label for="porcentaje">Porcentaje:</label>
      <input type="number" name="porcentaje" id="porcentaje" step="1" placeholder="Porcentaje %" required>
    </div>

    <button type="submit">Agregar Barbero</button>
  </form>

  <ul class="barber-list">
    {% for barber in barbers %}
      <li class="barber-item">
        <span>Nombre: {{ barber.name }} | Porcentaje: {{ barber.porcentaje }} </span>
        <a href="{{ url_for('delete_barber', id=barber.id) }}" class="delete-button" title="Eliminar">
          <i class="fas fa-trash-alt"></i>
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
