<!DOCTYPE html>
<html>
<head>
  <title>Mi Integración con Checkout Pro</title>
</head>
<body>

  <!-- Contenido de tu página -->
  <div id="walletBrick_container"></div>


  <script src="https://sdk.mercadopago.com/js/v2"></script>
  <script>
    
    const publicKey = "{{ public_key }}";  
    const preferenceId = "{{ preference_id }}";

    const mp = new MercadoPago(publicKey);
    const bricksBuilder = mp.bricks();

    const renderWalletBrick = async (bricksBuilder) => {
    await bricksBuilder.create("wallet", "walletBrick_container", {
        initialization: {
        preferenceId: preferenceId,
        }
    });
    };

    renderWalletBrick(bricksBuilder);
    </script>

    <div id="walletBrick_container"></div>

</body>
</html>
