<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Gestor de Pagos - Peluquería</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <h1>Gestor de Pagos</h1>
        <nav>
            <!-- <a href="{{ url_for('index') }}">Inicio</a> | -->
            <!--  <a href="{{ url_for('list_barbers') }}">Peluqueros</a> | -->
            <!--  <a href="{{ url_for('list_services') }}">Servicios</a> | -->
            <a href="{{ url_for('add_payment') }}">Pagos</a>  |
            <a href="{{ url_for('login') }}">Administrar</a> 
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
