<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestor de Pagos - Peluquería</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    {% block head %}{% endblock %}
</head>

<body>
    <header>
        <div class="text-center my-3">
            <img src="{{ url_for('static', filename='Barba&Co_logo.png') }}" alt="Barba&Co Logo" class="img-fluid logo">
        </div>
        <nav>
            <!-- <a href="{{ url_for('index') }}">Inicio</a> | -->
            <!--  <a href="{{ url_for('list_barbers') }}">Peluqueros</a> | -->
            <!--  <a href="{{ url_for('list_services') }}">Servicios</a> | -->
            <a href="{{ url_for('add_payment', salon_id=1) }}">Agregar pago</a>  |
            <a href="{{ url_for('cierre_entre_dias', salon_id=1) }}">Cierres</a> |
            <a href="{{ url_for('login') }}">Administrar</a> 
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
